<div class="food-details_item">
  <p class="food-details_text">
    <strong>Name:
    </strong>
    <%= food.name.capitalize %>
  </p>

  <p class="food-details_text">
    <strong>Measurement unit:
    </strong>
    <%= food.measurement_unit.capitalize %>
  </p>

  <p class="food-details_text">
    <strong>Price:
    </strong>
    $
    <%= food.price %>
  </p>

</div>
