/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.flash {
  display: flex;
}

.devise-form {
  margin: 7%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.field {
  width: 80%;
}

.field input {
  width: 100%;
  height: 30px;
  border: 3px solid;
  padding: 2px 5px;
}

.field input::placeholder {
  color: black;
}

.actions {
  width: 80%;
  margin-top: 30px;
}

.devise-button {
  width: 100%;
  height: 30px;
  font-size: 1.2rem;
  box-shadow: 5px 5px;
  outline: 1px solid black;
  background-color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.devise-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.field .devise-check {
  width: auto;
  padding: 0;
  height: auto;
}
